/*-- SCSS Variables --*/
@-webkit-keyframes falling-down {
  0% {
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-moz-keyframes falling-down {
  0% {
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-ms-keyframes falling-down {
  0% {
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes falling-down {
  0% {
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
    opacity: 0; }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

/*-- BEGIN: General element rules --*/
.hidden {
  display: none !important;
  visibility: hidden; }

a {
  color: #ffffff;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1, h2, h3, h4 {
  font-weight: 100;
  line-height: 1.3em; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

p {
  margin-top: 10px;
  margin-bottom: 10px; }

pre {
  white-space: pre-wrap; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
  min-height: 50px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  margin-bottom: 1.25em;
  border: solid 1px #ddd; }

html, body {
  font-size: 100%;
  min-height: 100%;
  min-width: 300px;
  height: auto;
  overflow: visible;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/*-- END: General element rules --*/
/*-- BEGIN: Common rules --*/
.z-max {
  z-index: 9999; }

.invisible {
  visibility: hidden; }

.block-anchor {
  display: block; }

/*-- END: Common rules --*/
.my-t-grid .row {
  position: relative; }
.my-t-grid [class*='col-'] {
  padding: 0; }

body {
  background: #171717;
  color: #fff;
  font-style: normal;
  position: relative;
  cursor: default;
  line-height: 1.2em;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0; }

header .header-wrapper, footer .footer-wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

h1, h2 {
  font-family: 'BebasNeueRegular', Arial, sans-serif; }

header .row {
  border-left: #ffffff 5px solid; }
header h1 {
  margin: 45px 0 0;
  line-height: 1em;
  text-align: center; }
  @media screen and (min-width: 769px) {
    header h1 {
      font-size: 8em;
      line-height: 0.74em;
      text-align: right; } }
  @media screen and (min-width: 1201px) {
    header h1 {
      font-size: 13em;
      line-height: 0.74em;
      text-align: right; } }
header p {
  margin: 20px 8px 0 25px;
  color: #8c989c; }

h1 {
  font-size: 3.5em;
  line-height: 1em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-weight: bold;
  font-size: 1.1em; }

#content {
  margin-top: 40px; }

#section-main-projects .item-image {
  background-position: center;
  background-size: cover;
  width: 100%; }
  @media screen and (min-width: 769px) {
    #section-main-projects .item-image {
      height: 250px; } }
  @media screen and (min-width: 1201px) {
    #section-main-projects .item-image {
      height: 350px; } }

.block-showon .item-image {
  background-image: url(../images/block_showon.png); }

.block-ddb .item-image {
  background-image: url(../images/block_ddb.png); }

.block-emdotcom .item-image {
  background-image: url(../images/block_emdotcom.png); }

section header {
  position: absolute;
  top: 20px;
  font-size: 1.2em;
  background: #1c2126;
  line-height: 1.8em;
  padding-left: 10px;
  padding-right: 10px;
  border-left: #ffffff 5px solid;
  z-index: 1; }

.item-wrapper {
  color: #ffffff; }
  .item-wrapper .item-image {
    opacity: 1;
    -webkit-transition: opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: perspective(0) rotateY(0); }
  .item-wrapper:hover .item-image {
    -webkit-transition: opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.7;
    -webkit-transform: perspective(100) rotateY(2deg); }

.item-title {
  position: absolute;
  top: 52px;
  background: #1f282d;
  line-height: 1.8em;
  padding-left: 10px;
  padding-right: 10px; }

#section-mobile-apps .item-image, #section-covers .item-image, #section-free-hand-draws .item-image {
  background: 50% 50% no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#section-mobile-apps .item-image {
  background-image: url(../images/section_mobile_apps.png); }

#section-covers .item-image {
  background-image: url(../images/section_covers.png); }

#section-free-hand-draws .item-image {
  background-image: url(../images/section_free_hand_draws.png); }

.vertical-sections {
  margin-top: 20px; }
  @media screen and (min-width: 769px) {
    .vertical-sections .item-image {
      height: 300px; } }
  @media screen and (min-width: 1201px) {
    .vertical-sections .item-image {
      height: 430px; } }
  @media screen and (min-width: 769px) {
    .vertical-sections > div {
      width: 32%; }
    .vertical-sections > div:nth-child(2) {
      margin-left: 2%;
      margin-right: 2%; } }

footer {
  padding-top: 50px;
  margin-bottom: 0;
  color: white; }
  footer .my-t-grid .row {
    padding-bottom: 50px;
    margin-bottom: 0; }
  footer h2 {
    text-align: center; }
  footer p {
    text-align: center; }
  footer .email-address {
    text-align: center;
    margin: 20px 0; }
    footer .email-address a {
      color: white;
      text-decoration: none;
      font-size: 1.4em; }
  footer .social-links-container {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  footer .linkedin-link, footer .twitter-link, footer .github-link {
    background-image: url(//www.emilianomasi.com/images/social_icons_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px; }
  footer .linkedin-link, footer .twitter-link {
    width: 143px;
    height: 145px;
    display: inline-block; }
  footer .twitter-link {
    background-position: -142px 0px; }
  footer .github-link {
    display: block;
    background-position: -53px -175px;
    width: 175px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; }

div[class*='icon-'] {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-right: 10px; }

.icon-html5 {
  background-image: url(../images/icon_html5.png); }

.icon-css3 {
  background-image: url(../images/icon_css3.png); }

.icon-php {
  background-image: url(../images/icon_php.png); }

.icon-mootools {
  background-image: url(../images/icon_mootools.png); }

.icon-bootstrap {
  background-image: url(../images/icon_bootstrap.png); }

.icon-grails {
  background-image: url(../images/icon_grails.png); }

.icon-jquery {
  background-image: url(../images/icon_jquery.png); }

.icon-angularjs {
  background-image: url(../images/icon_angularjs.png); }

.icon-tweenmax {
  background-image: url(../images/icon_tweenmax.png); }

@media only screen and (min-width: 1201px) {
  .icon-html5, .icon-css3, .icon-php {
    width: 30px;
    height: 33px; } }

@media only screen and (min-width: 1201px) {
  .icon-mootools {
    width: 135px;
    height: 33px; } }

@media only screen and (min-width: 1201px) {
  .icon-tweenmax {
    width: 100px;
    height: 20px; } }

@media only screen and (min-width: 1201px) {
  .icon-bootstrap {
    width: 58px;
    height: 33px; } }

@media only screen and (min-width: 1201px) {
  .icon-jquery, .icon-angularjs, .icon-grails {
    width: 85px;
    height: 33px; } }

.technology-palette {
  margin-top: 15px; }
  .technology-palette .technologies-list li {
    display: inline; }

.others, .url {
  margin-top: 15px; }

.header-multimedia {
  width: 100%; }
  @media screen and (min-width: 1201px) {
    .header-multimedia {
      height: 350px; } }

.header-image {
  width: 100%;
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 1201px) {
    .header-image {
      height: 350px; } }

[icon] {
  background-image: url(../images/icons_sprite.png); }

[icon='cancel'] {
  background-position: 0 0;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2; }
  [icon='cancel']:hover {
    background-position-y: -50px; }

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #1c2126; }
  .close-button [icon] {
    margin-left: 5px;
    margin-top: 5px; }

#project-showon .header-row, #project-ddb .header-row, #project-emdotcom .header-row, #mobile-apps .header-row, #covers .header-row, #free-hand-draws .header-row {
  background-color: #1f282d;
  margin-bottom: 0; }
  #project-showon .header-row .general-info, #project-ddb .header-row .general-info, #project-emdotcom .header-row .general-info, #mobile-apps .header-row .general-info, #covers .header-row .general-info, #free-hand-draws .header-row .general-info {
    position: absolute;
    padding: 15px 25px;
    z-index: 1; }
#project-showon .content-row, #project-ddb .content-row, #project-emdotcom .content-row, #mobile-apps .content-row, #covers .content-row, #free-hand-draws .content-row {
  background-color: #1f282d;
  top: -3px;
  z-index: -1; }
  #project-showon .content-row .content-data, #project-ddb .content-row .content-data, #project-emdotcom .content-row .content-data, #mobile-apps .content-row .content-data, #covers .content-row .content-data, #free-hand-draws .content-row .content-data {
    background: #ffffff;
    color: #1f282d;
    padding: 55px 30px 55px 30px; }
    #project-showon .content-row .content-data .involvement, #project-showon .content-row .content-data .features, #project-showon .content-row .content-data .hr-entry, #project-ddb .content-row .content-data .involvement, #project-ddb .content-row .content-data .features, #project-ddb .content-row .content-data .hr-entry, #project-emdotcom .content-row .content-data .involvement, #project-emdotcom .content-row .content-data .features, #project-emdotcom .content-row .content-data .hr-entry, #mobile-apps .content-row .content-data .involvement, #mobile-apps .content-row .content-data .features, #mobile-apps .content-row .content-data .hr-entry, #covers .content-row .content-data .involvement, #covers .content-row .content-data .features, #covers .content-row .content-data .hr-entry, #free-hand-draws .content-row .content-data .involvement, #free-hand-draws .content-row .content-data .features, #free-hand-draws .content-row .content-data .hr-entry {
      margin-top: 35px; }
    #project-showon .content-row .content-data .hr-entry:first-child, #project-ddb .content-row .content-data .hr-entry:first-child, #project-emdotcom .content-row .content-data .hr-entry:first-child, #mobile-apps .content-row .content-data .hr-entry:first-child, #covers .content-row .content-data .hr-entry:first-child, #free-hand-draws .content-row .content-data .hr-entry:first-child {
      margin-top: 0; }

#project-ddb .header-image {
  background-image: url(../images/header_ddb.png); }

#project-emdotcom .header-image {
  background-image: url(../images/header_emdotcom.png); }

#mobile-apps .content-row .content-data, #covers .content-row .content-data, #free-hand-draws .content-row .content-data {
  padding-top: 50px; }
#mobile-apps .close-button, #covers .close-button, #free-hand-draws .close-button {
  top: -3px; }

.balloon {
  margin-top: 10px;
  margin-bottom: 10px; }
  .balloon .ballon-header {
    position: absolute;
    color: #ffffff;
    background: #1f282d;
    line-height: 1.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px 0 0 2px; }
  .balloon img {
    width: 100%;
    border: #e6e6e6 2px solid; }

.ng-enter {
  -webkit-animation: falling-down 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.3s 1 normal;
  -moz-animation: falling-down 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.3s 1 normal;
  animation: falling-down 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.3s 1 normal;
  -webkit-animation-fill-mode: both;
  -khtml-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  -webkit-transition: .3s;
  transition: .3s; }

.ng-leave-active {
  opacity: 0; }
