/*-- SCSS Variables --*/
//Break points
$break-xsmall: 300px;
$break-small: 481px;
$break-medium: 769px;
$break-large: 1201px;

//General constants
$color0: #171717;
$color1: #1f282d;
$color2: #1c2126;

//Mixins
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
  -webkit-animation-fill-mode: both;
  -khtml-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  transform: $transformation;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

//Animations
@-webkit-keyframes falling-down {
    0% {
        @include transform(translate3d(0,-200px,0));
        opacity: 0;
    }

    100% {
        @include transform(translate3d(0,0,0));
        opacity: 1;
    }
}

@-moz-keyframes falling-down {
    0% {
        @include transform(translate3d(0,-200px,0));
        opacity: 0;
    }

    100% {
        @include transform(translate3d(0,0,0));
        opacity: 1;
    }
}

@-ms-keyframes falling-down {
    0% {
        @include transform(translate3d(0,-200px,0));
        opacity: 0;
    }

    100% {
        @include transform(translate3d(0,0,0));
        opacity: 1;
    }
}

@keyframes falling-down {
    0% {
        @include transform(translate3d(0,-200px,0));
        opacity: 0;
    }

    100% {
        @include transform(translate3d(0,0,0));
        opacity: 1;
    }
}

/*-- BEGIN: General element rules --*/
.hidden {
  display:none!important;
  visibility:hidden;
}
a{
  color: #ffffff;
  text-decoration: none;
}
a:focus {
  outline:thin dotted;
}

a:active,a:hover {
  outline:0;
}

h1, h2, h3, h4 {
  font-weight: 100;
  line-height: 1.3em;
}

h1 {
  font-size:2em;
  margin:.67em 0;
}

abbr[title] {
  border-bottom:1px dotted;
}

b,strong {
  font-weight:700;
}

dfn {
  font-style:italic;
}

hr {
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0;
}

mark {
  background:#ff0;
  color:#000;
}

code,kbd,pre,samp {
  font-family:monospace, serif;
  font-size:1em;
}

p{
  margin-top: 10px;
  margin-bottom:10px;
}

pre {
  white-space:pre-wrap;
}

q {
  quotes:\201C \201D \2018 \2019;
}

small {
  font-size:80%;
}

sub,sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup {
  top:-.5em;
}

sub {
  bottom:-.25em;
}

img {
  border:0;
  -ms-interpolation-mode:bicubic;
  display:inline-block;
  vertical-align:middle;
}

svg:not(:root) {
  overflow:hidden;
}

fieldset {
  border:1px solid silver;
  margin:0 2px;
  padding:.35em .625em .75em;
}

button,input,select,textarea {
  font-family:inherit;
  font-size:100%;
  margin:0;
}

button,input {
  line-height:normal;
}

button,select {
  text-transform:none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer;
}

button[disabled],html input[disabled] {
  cursor:default;
}

input[type="checkbox"],input[type="radio"] {
  box-sizing:border-box;
  padding:0;
}

input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
  -webkit-appearance:none;
}

textarea {
  overflow:auto;
  vertical-align:top;
  height:auto;
  min-height:50px;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  background:#fff;
  margin-bottom:1.25em;
  border:solid 1px #ddd;
}

html,body {
  font-size:100%;
  min-height:100%;
  min-width:300px;
  height:auto;
  overflow:visible;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
/*-- END: General element rules --*/

/*-- BEGIN: Common rules --*/
.z-max {
  z-index: 9999;
}

.invisible {
  visibility: hidden;
}

.block-anchor{
  display: block;
}
/*-- END: Common rules --*/

.my-t-grid{
  .row{
    position: relative;
  }
  
  [class*='col-'] {
    padding: 0;
  }
}

body {
  background: $color0;
  color: #fff;
  font-style: normal;
  position: relative;
  cursor: default;
  line-height: 1.2em;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

header .header-wrapper, footer .footer-wrapper{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: 'BebasNeueRegular', Arial, sans-serif;
}

header{

  @media screen and (min-width: $break-medium) {
    .row{
      border-left: #ffffff 5px solid;
    }
  }
  
  h1 {
    margin: 45px 0 0;
    line-height: 1em;
    text-align: center;
    
    @media screen and (min-width: $break-xsmall) {
      font-size: 5em;
    }
    
    @media screen and (min-width: $break-medium) {
      font-size: 8em;
      line-height: 0.74em;
      text-align: right;
    }
  
    @media screen and (min-width: $break-large) {
      font-size: 13em;
    }
  }
  
  p{
    margin: 15px 5px 20px 8px;
    text-align: left;
    color: #8c989c;
    height: auto;
    overflow: hidden;
    
    @include transition(height 0.25s cubic-bezier(0.165, 0.84, 0.44, 1));
    
    @media screen and (min-width: $break-small){
      text-align: justify;
    }
    
    @media screen and (min-width: $break-medium){
      margin: 20px 8px 0 25px;
      text-align: left;
    }
  }
}

h1{
  line-height: 1em;
  
  @media screen and (min-width: $break-xsmall) {
    font-size: 2.5em;
  }
  
  @media screen and (min-width: $break-medium) {
    font-size: 3.5em;
  }
}

h2{

  @media screen and (min-width: $break-xsmall) {
    font-size: 2em;
  }
  
  @media screen and (min-width: $break-medium) {
    font-size: 2.5em;
  }
}

h3{
  font-weight:bold;
  
  @media screen and (min-width: $break-xsmall) {
    font-size: 1em;
  }
  
  @media screen and (min-width: $break-medium) {
    font-size: 1.1em;
  }
}

#content{
  margin-top:40px;
  min-height: 500px;
}

#section-main-projects{
  .item-image{
    background-position: center;
    background-size: cover;
    width:100%;
    
    @media screen and (min-width: $break-xsmall) {
      height: 150px;
    }
    
    @media screen and (min-width: $break-small) {
      height: 200px;
    }
    
    @media screen and (min-width: $break-medium) {
      height: 250px;
    }
    
    @media screen and (min-width: $break-large) {
      height: 350px;
    }
    
  }
  
}

.block-showon{
  position: relative;
  
  .item-image{
    background-image: url(../images/block_showon.png);
  }
}

.block-ddb{
  position: relative;
  
  .item-image{
    background-image: url(../images/block_ddb.png);
  }
}

.block-emdotcom{
  position: relative;
  
  .item-image{
    background-image: url(../images/block_emdotcom.png);
  }
}

section header{
  position: absolute;
  top: 20px;
  font-size: 1.2em;
  background: $color2;
  line-height: 1.8em;
  padding-left: 10px;
  padding-right: 10px;
  border-left: #ffffff 5px solid;
  z-index: 1;
}

.item-wrapper{
  color: #ffffff;
  
  .item-image{
    opacity: 1;
    @include transition(all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1));
    @include transform(perspective(0) rotateY(0));
  }
  
  &:hover .item-image{
    @include transition(all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1));
    @include transform(perspective(100) rotateY(2deg));
    opacity: 0.7;
  }
}

.item-title{
  position: absolute;
  top: 52px;
  background: $color1;
  line-height: 1.8em;
  padding-left: 10px;
  padding-right: 10px;
}

#section-mobile-apps{
  margin-bottom: 20px;
  position: relative;
  
  @media screen and (min-width: $break-medium) {
    margin-bottom: 0;
  }
  
  .item-image{
    background: 50% 50% no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

#section-mobile-apps{
  @extend #section-mobile-apps;
  
  .item-image{
    background-image: url(../images/section_mobile_apps.png);
  }
}

#section-covers{
  @extend #section-mobile-apps;
  
  .item-image{
    background-image: url(../images/section_covers.png);
  }
}

#section-free-hand-draws{
  @extend #section-mobile-apps;
  
  .item-image{
    background-image: url(../images/section_free_hand_draws.png);
  }
}

.vertical-sections{
  margin-top: 40px;
  
  .item-image{
  
    @media screen and (min-width: $break-xsmall) {
      height: 150px;
    }
    
    @media screen and (min-width: $break-small) {
      height: 200px;
    }
    
    @media screen and (min-width: $break-medium) {
      height: 300px;
      margin-top: 20px;
    }
    
    @media screen and (min-width: $break-large) {
      height: 430px;
    }
  }
  
  @media screen and (min-width: $break-xsmall) {
    >div{
      width: 100%;
    }
  }
  
  @media screen and (min-width: $break-medium) {
    >div{
      width: 32%;
    }
    
    >div:nth-child(2){
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

footer {
  padding-top: 50px;
  margin-bottom:0;
  color:white;
  
  .my-t-grid .row{
    padding-bottom:50px;
    margin-bottom: 0;
  }
  
  h2{
    text-align: center;
  }
  
  p{
   text-align:center;
  }
  
  .email-address {
    text-align: center;
    margin: 20px 0;
    
    a {
      color: white;
      text-decoration: none;
      font-size: 1.4em;
    }
  }
  
  .social-links-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .linkedin-link, .twitter-link, .github-link {
    background-image: url(//www.emilianomasi.com/images/social_icons_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  
  .linkedin-link, .twitter-link {
    width: 143px;
    height: 145px;
    display: inline-block;
  }
  
  .twitter-link {
    background-position: -142px 0px;
  }
  
  .github-link {
    display: block;
    background-position: -53px -175px;
    width: 175px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
}

.project-name h1{
  @media only screen and (min-width: $break-xsmall) and (max-width: $break-large - 1){
    margin: 0;
  }
}

div[class*='icon-']{
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-right: 10px;
}

.icon-html5{
  background-image: url(../images/icon_html5.png);
}

.icon-css3{
  background-image: url(../images/icon_css3.png);
}

.icon-php{
  background-image: url(../images/icon_php.png);
}

.icon-mootools{
  background-image: url(../images/icon_mootools.png);
}

.icon-bootstrap{
  background-image: url(../images/icon_bootstrap.png);
}

.icon-grails{
  background-image: url(../images/icon_grails.png);
}

.icon-jquery{
  background-image: url(../images/icon_jquery.png);
}

.icon-angularjs{
  background-image: url(../images/icon_angularjs.png);
}

.icon-tweenmax{
  background-image: url(../images/icon_tweenmax.png);
}

.icon-html5, .icon-css3, .icon-php{
  @media only screen and (min-width: $break-large){
    width: 30px;
    height: 33px;
  }
}

.icon-mootools{
  @media only screen and (min-width: $break-large){
    width: 135px;
    height: 33px;
  }
}

.icon-tweenmax{
  @media only screen and (min-width: $break-large){
    width: 100px;
    height: 20px;
  }
}

.icon-bootstrap{
  @media only screen and (min-width: $break-large){
    width: 58px;
    height: 33px;
  }
}

.icon-jquery, .icon-angularjs, .icon-grails{
  @media only screen and (min-width: $break-large){
    width: 85px;
    height: 33px;
  }
}

.technology-palette{
  display: none;
  
  @media only screen and (min-width: $break-large){
    display: block;
    margin-top: 15px;
  }
  
  .technologies-list{
      li {
        display: inline;
      }
  }
}

.url{
  margin-top: 15px;
    @media only screen and (min-width: $break-small) and (max-width: $break-large - 1){
      h3{
        display:none;
      }
    }
}
.others{
  @extend .url;
  display: none;
  
  @media only screen and (min-width: $break-large){
    display: block;
  }
  
}

.header-multimedia{
  width: 100%;
  
  @media screen and (min-width: $break-xsmall) {
    height: 255px;
  }
  
  @media screen and (min-width: $break-medium) {
    height: 350px;
  }
}

.header-image{
  @extend .header-multimedia;
  background-size: cover;
  background-position: center;
}

[icon]{
  background-image: url(../images/icons_sprite.png);
}

[icon='cancel']{
  background-position: 0 0;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
  
  &:hover{
    background-position-y: -50px;
  }
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #1c2126;
  z-index: 1;
  
  [icon]{
    margin-left:5px;
    margin-top:5px;
  }
}

#project-showon, #project-ddb, #project-emdotcom, #mobile-apps, #covers, #free-hand-draws{
  .header-row{
    background-color: $color1;
    margin-bottom: 0;
    
    .general-info{
      padding: 15px 80px 15px 25px;
      z-index: 1;
      
      @media screen and (min-width: $break-large) {
        padding: 15px 25px;
        position: absolute;
      }
      
    }
  }
  
  .content-row{
    background-color: $color1;
    top: -3px;
    
    .content-data{
      background: #ffffff;
      color: $color1;
      padding: 55px 15px 55px 15px;
      
      @media screen and (min-width: $break-small) {
        padding: 55px 30px 55px 30px;
      }
      
      .involvement, .features, .hr-entry{
        margin-top: 35px;
      }
      
      .hr-entry:first-child{
        margin-top:0;
      }
      
    }
  }
}

#project-ddb{
  .header-image{
    background-image: url(../images/header_ddb.png);
  }
}

#project-emdotcom{
  .header-image{
    background-image: url(../images/header_emdotcom.png);
  }
}

#mobile-apps, #covers, #free-hand-draws{
  .content-row{
    .content-data{
      padding-top: 50px;
    }
  }
  
  .close-button{
    @media screen and (min-width: $break-large) {
      top: -3px;
    }
  }
}

.balloon{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  
  .ballon-header{
    position: absolute;
    color: #ffffff;
    background: $color1;
    line-height: 1.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px 0 0 2px;
    max-width: 98%;
  }
  
  img{
    width: 100%;
    border: #e6e6e6 2px solid;
  }
}

.ng-enter{
  @media screen and (min-width: $break-medium) {
    @include animation(falling-down 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0.3s 1 normal);
  }
}

.ng-enter-active {
  opacity:1;
}

.ng-leave {
  -webkit-transition: .3s;
  transition: .3s;
}

.ng-leave-active {
  opacity:0;
}